<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    {{! <script src=""></script> webpack way so we dont have to clutter up the html }}
  </head>
  <body>
    <header>
      <div class="nav justify-content-center">
        <h1>
          The Tech Blog
        </h1>
      </div>

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signup">Signup</a>
          </li>
          <li>
            {{#if loggedIn}}
              <a class="nav-link active" href="/logout">Logout</a>
            {{else}}
              <!-- Otherwise, show a link to login -->
              <a class="nav-link active" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>
    <!-- If the user is logged in, load the JS script for when they logout -->
    {{!-- {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}} --}}

  </body>
</html>